@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

:root {
  --active-link-color: #4f46e5;

  --active-link-shadow-color: #93c5fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --active-link-color: #fb923c;

    --active-link-shadow-color: #fde047;
  }
}

a.active {
  color: var(--active-link-color);
  text-shadow: 0 0 10px var(--active-link-shadow-color),
    0 0 20px var(--active-link-shadow-color);
  font-weight: bold;
  transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  text-decoration: underline;
}
